body {
  font-family: Arial, sans-serif;
  background: #222;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
}

.info {
  margin-top: 20px;
}

#eval-bar-container {
  width: 480px;
  height: 20px;
  background: #555;
  margin-top: 10px;
  position: relative;
}

#eval-bar {
  height: 100%;
  width: 50%;
  background: #0f0;
  position: absolute;
  top: 0;
  left: 0;
}
